.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.main-content {
  padding: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

option:disabled {
  background-color: #dddddd;
}

.resistance-btn {
    background-color: #19AB27;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.resistance-btn:hover {
    background-color: #e7e7e7;
    color: black;
}

.rc-slider-track {
  background-color: #19AB27;
}

.react-toggle {
  vertical-align: middle;
}

div.toggle-wrapper {
    display: inline-block;
    padding: 5px;
}

div.spring-select-wrapper {
    display: inline-block;
    padding: 5px;
}

div.weight-btns-wrapper {
    display: inline-block;
    /*margin-right: 28%;*/
}

div.res-input-wrapper {
    display: inline-block;
    float: left;
}

div.slider-wrapper {
    margin: 25px 25px 20px;
}

.res-input {
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.res-input.invalid {
    border: 1px solid red;
}

select.spring-select {
    margin: 6px;
}

label.spring-label {
    padding: 5px;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 0;
}

p.res-result {
    line-height: 150%;
}

span.grip {
    padding: 5px;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 0;
}
